In [2]:
import pandas as pd
dfav = pd.read_excel('Aviation database Flight Deck for Duke.xlsx',sheet_name='data')
dfnv = pd.read_excel('Non Aviaiton database carrier.xlsx',sheet_name='carrier involved')

####aviation database flight deck for duke.xlsx:

##Event Date, Event Savty C, FY, Acft_model, age, pay_grade, event_short_narr(only deck related stuff eg-line 26),

##Incdt_occurn_serl(finding duplicates), incdt_phase_ops (might help), incdt_type, inj_classn

####nonaviation database carrier.xlsx:

##Paygrade, Age, Sex, Area, inj_classn, Event_date_time, FY, Brief_narr, event_sevty_c

In [28]:
df_av = dfav[['EVENT_DATE','EVENT_SEVTY_C','FY','ACFT_MODEL','AGE','INJ_CLASSN_C','PAY_GRADE','EVENT_SHORT_NARR','INCDT_OCCURN_SERL','INCDT_PHASE_OPS','INCDT_TYPE','INJ_CLASSN']]
df_nv = dfnv[['PAYGRADE','RANK_RATE','RATEG','INJ_CLASSN_C','AGE','SEX_C','AREA','PCN_NAME','INJ_CLASSN','EVOL','EVENT_DATE_TIME','FY','BRIEF_NARR','EVENT_SEVTY_C',]]

In [29]:
df_nvnew = df_nv[df_nv['INJ_CLASSN'] != 'NO INJURY OR ILLNESS']

In [30]:
df_nv['INJ_CLASSN'].value_counts()

LIGHT/LIMITED DUTY OR RESTRICTED WORK (NO LOST WORK DAYS)    3944
OTHER REPORTABLE AND MEDICAL TREATMENT/NO LOST TIME          1458
ONE OR MORE LOST WORK DAYS                                   1097
NO INJURY OR ILLNESS                                          231
FIRST AID TREATMENT ONLY/FIRST AID CASE                       224
PERMANENT PARTIAL DISABILITY                                   26
FATAL                                                           6
Name: INJ_CLASSN, dtype: int64

In [31]:
df_nvnew = df_nvnew[df_nvnew['AREA'] == 'FLIGHT DECK']

In [36]:
df_nvnew.to_csv(r'deckdata_cleaned.csv')

In [46]:
dfmain = df_nvnew.reset_index().drop(columns = ['index'])

In [48]:
dfmain.to_csv(r'deckdata_cleaned.csv')

In [3]:
dfmain = pd.read_csv(r'deckdata_cleaned.csv')

In [10]:
dfmain = dfmain.drop([135,562,577,567], axis =0)

In [18]:
defmain = dfmain[~dfmain['BRIEF_NARR'].str.contains("theshold", case = False)]

In [50]:
dfmain.to_csv(r'deckdata_cleaned.csv')

In [22]:
dfmain = dfmain[~dfmain['BRIEF_NARR'].str.contains("theshold", case = False)]

In [26]:
dfmain = dfmain[~dfmain['BRIEF_NARR'].str.contains("maintenance", case = False)]

In [28]:
dfmain = dfmain[~dfmain['EVOL'].str.contains("maintenance", case = False)]

In [34]:
dfmain = dfmain.drop(columns = ['Unnamed: 0','Unnamed: 0.1'])

In [43]:
dfmain = dfmain.reset_index().drop(columns = ['index'])

In [38]:
dfmain = dfmain[~dfmain['BRIEF_NARR'].str.contains("recreation", case = False)]

In [48]:
dfmain = dfmain[~dfmain.duplicated()]

Empty DataFrame
Columns: [PAYGRADE, RANK_RATE, RATEG, INJ_CLASSN_C, AGE, SEX_C, AREA, PCN_NAME, INJ_CLASSN, EVOL, EVENT_DATE_TIME, FY, BRIEF_NARR, EVENT_SEVTY_C]
Index: []